body{
	background: #2E2E2E;
}

.menu{
	float: left;
	width: 40%;
}

.itemmenu{
	float: left;
	margin-right: 2%;
	list-style: none;
	font-size: 125%;
}

.espacoe{
	width: 36%;
	float: left;
}

.espacod{
	width: 36%;
	float: right;
}

.separador{
	clear: both;
}

.links{
	text-decoration: none;
	color: white;
}