html{
	font-family: 'Verdana', 'arial', sans-serif;
	font-size: 120%;
}

.tab{
	margin-top: 2px;
	border:4px solid #ccc;
	padding: 10px;
	background: #b9ff85;
	cursor:pointer;
}

.tab:hover{
	background: #ddd;
}

.ativo{
	background: #333;
	color:#fff;
}

.conteudo{
	border:3px solid #ccc;
	width: 50%;
	margin-top: 11px;
	padding: 20px;
}

.escondido{
	display: none;
}